.catalog-pizza {
  padding: 110px 0 185px 0;
  background: $main-color-text;
  overflow: hidden;

  @media (max-width: $size-screen-tablet) {
    padding: 70px 0;
  }

  @media (max-width: $size-screen-mobile) {
    padding: 50px 0;
  }
}

.catalog-pizza__proposition {
  background-image: url("/img/header background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-size: 100vw 100%;
  background-position: 50% 50%;
  margin: -110px -9999px 0 -9999px;
  padding: 110px 9999px 0 9999px;
  text-align: center;
}

.catalog-pizza__title {
  font-family: $font-1;
  font-size: 58px;
  line-height: 1;
  color: $main-color-text;
  margin-bottom: 60px;
  position: relative;
    z-index: 100;

  @media (max-width: $size-screen-tablet) {
    font-size: 44px;
  }

  @media (max-width: $size-screen-mobile) {
    font-size: 30px;
  }
}

.catalog-pizza__description {
  font-family: $font-2;
  font-size: 25px;
  line-height: 1.36;
  color: $main-color-text;
  padding: 0 110px 70px 110px;
  position: relative;
  z-index: 100;

  @media (max-width: $size-screen-tablet) {
    font-size: 21px;
  }

  @media (max-width: $size-screen-mobile) {
    font-size: 17px;
    padding: 0 15px 50px 15px;
  }

  &::after {
    content: "";
    height: 10px;
    width: 162px;
    background-color: $main-color-text;
    position: absolute;
    bottom: 20px;
    right: 50%;
    transform: translateX(50%);

    @media (max-width: $size-screen-mobile) {
      height: 5px;
      width: 100px;
    }
  }
}

.catalog-pizza__img {
  margin-left: 250px;

  @media (max-width: $size-screen-mobile) {
    margin-left: 0;
  }

  img {
    max-width: 100%;
    height: auto;
  }
}

.catalog-pizza__menu {
  background-color: $main-color-text;
  padding: 160px 9999px 0 9999px;
  margin: -182px -9999px 0 -9999px;
  text-align: center;

  @media (max-width: $size-screen-mobile) {
    padding-top: 15vw;
    margin-top: -15vw;
  }
}

.catalog-pizza__text {
  font-size: 25px;
  line-height: 1;
  color: $color-text-9;
  font-weight: 600;
  max-width: 830px;
  margin-bottom: 55px;
  margin-left: auto;
  margin-right: auto;

  @media (max-width: $size-screen-tablet) {
    font-size: 21px;
  }

  @media (max-width: $size-screen-mobile) {
    font-size: 17px;
  }
}

.catalog-pizza__text-second {
  font-size: 21px;
  line-height: 1.62;
  color: $color-text-9;
  font-weight: 700;

  @media (max-width: $size-screen-tablet) {
    font-size: 16px;
  }

  @media (max-width: $size-screen-mobile) {
    font-size: 14px;
  }
}


