.empty {
  background-color: $color-text-5;
  padding: 90px 0 71px 0;
  text-align: center;

  @media (max-width: $size-screen-mobile) {
    padding: 50px 0 50px 0;
  }
}

.empty__title {
  color: $main-color-text;
  margin-bottom: 90px;

  @media (max-width: $size-screen-tablet) {
    margin-bottom: 70px;
  }

  @media (max-width: $size-screen-mobile) {
    margin-bottom: 50px;
  }
}

.empty__text-box {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 6.476%;
  margin: 0 auto 75px auto;
  max-width: 1050px;

  @media (max-width: $size-screen-tablet) {
    margin-bottom: 60px;
  }


  @media (max-width: $size-screen-mobile) {
    display: block;
    margin-bottom: 50px;
  }
}

.empty__description {
  font-family: $font-2;
  font-size: 16px;
  line-height: 1.625;
  font-weight: 400;
  color: $main-color-text;
  text-align: left;

  @media (max-width: $size-screen-tablet) {
    font-size: 14px;
  }

  @media (max-width: $size-screen-mobile) {
    font-size: 12px;

    &:not(:last-of-type) {
      margin-bottom: 30px;
    }
  }
}

.empty__link {
  padding: 18px 20px;
  min-width: 270px;
  display: inline-block;
  background-color: $color-text-11;
  border-radius: 24px;
  font-family: $font-2;
  font-size: 27px;
  line-height: 1;
  font-weight: 700;
  color: $color-text-5;
  text-transform: uppercase;
  border: 2px solid $main-color-text;

  &:hover {
    color: $color-text-5;
    background: linear-gradient(217deg, rgba(255,0,0,.8), rgba(255,0,0,0) 70.71%),
    linear-gradient(127deg, rgba(0,255,0,.8), rgba(0,255,0,0) 70.71%),
    linear-gradient(336deg, rgba(0,0,255,.8), rgba(0,0,255,0) 70.71%);
    border-color: red green yellow blue;
  }

  &:active {
    background-color: $color-text-12;
    color: $color-text-1;
  }

  @media (max-width: $size-screen-tablet) {
    font-size: 22px;
  }

  @media (max-width: $size-screen-mobile) {
    font-size: 16px;
    padding: 15px 20px;
    min-width: 230px;
  }
}
