.empty {
  background-color: $color-text-5;
  padding: 90px 0 71px 0;
  text-align: center;

  @media (max-width: 767px) {
    padding: 50px 0 50px 0;
  }
}

.empty__title {
  color: $main-color-text;
  margin-bottom: 90px;

  @media (max-width: 767px) {
    margin-bottom: 50px;
  }
}

.empty__text-box {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 68px;
  margin: 0 auto 75px auto;
  max-width: 1050px;


  @media (max-width: 767px) {
    display: block;
    margin-bottom: 50px;
  }
}

.empty__description {
  font-family: montserrat;
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
  color: $main-color-text;
  text-align: left;

  @media (max-width: 767px) {
    font-size: 12px;
    line-height: 20px;

    &:not(:last-of-type) {
      margin-bottom: 30px;
    }
  }
}

.empty__link {
  padding: 19px 56px;
  background-color: $main-color-text;
  opacity: 0.9;
  border-radius: 24px;
  font-family: montserrat;
  font-size: 27px;
  line-height: 1;
  font-weight: 700;
  color: $color-text-5;
  text-transform: uppercase;

  @media (max-width: 767px) {
    font-size: 16px;
    padding: 15px 30px;
  }
}
