.form {
  max-width: 770px;
  margin: 0 auto;
  position: relative;
}



.form__button {
  position: absolute;
  padding: 10px 40px;
  background-color: #54524f;
  color: #fff;
  font-weight: 600;
  text-transform: uppercase;
  border-radius: 30px;
  right: 0;
  height: 100%;
  top: 0;
  font-size: 25px;
  z-index: 10;
  line-height: 1;

  @media (max-width: 767px) {
    font-size: 17px;
    position: static;
    padding: 15px 36px;
  }
}


.form__input {
  padding: 15px 200px 15px 36px;
  background-color: $main-color-text;
  width: 660px;
  border-radius: 31px;
  font-size: 25px;
  line-height: 1;
  color: $color-text-10;
  position: relative;
  width: 100%;
  border: none;

  @media (max-width: 767px) {
    font-size: 17px;
    margin-bottom: 30px;
  }
}


