.link {
  padding: 28px 20px;
  min-width: 334px;
  background-color: $color-text-4;
  font-size: 23px;
  line-height: 1;
  color: $main-color-text;
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 45px;
  display: inline-block;
  border: 2px solid $color-text-4;
  text-align: center;

  &:hover {
    color: $color-text-5;
    background: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c);
    border-color: red green yellow blue;
  }

  &:active {
    background-color: $color-text-12;
    color: $color-text-1;
  }

  @media (max-width: $size-screen-tablet) {
    padding: 28px 20px;
    min-width: 250px;
    font-size: 20px;
  }

  @media (max-width: $size-screen-mobile) {
    font-size: 16px;
    padding: 15px 20px;
    min-width: 280px;
  }
}
