.list__link  {
  font-family: montserrat;
  line-height: 42px;
  font-weight: 400;
  color: $color-text-4;
  font-size: 24px;

  @media (max-width: 1024px) {
    font-size: 16px;
    line-height: 28px;
  }
}

.list__link--f {
  line-height: 1;

  @media (max-width: 767px) {
    line-height: 1.5;
  }
}
