.main-list {
  display: flex;
  flex-wrap: wrap;
}

.main-list__block {
  padding-bottom: 50px;
  flex-shrink: 0;
  max-width: 270px;
  padding-right: 40px;

  &--add {
    max-width: 460px;

    @media (max-width: $size-screen-tablet) {
      margin-left: 0;
    }

    @media (max-width: $size-screen-mobile) {
      max-width: 270px;
    }
  }
}

.main-list__title {
  font-family: $font-2;
  line-height: 1.2;
  font-weight: 400;
  color: $color-text-4;
  font-size: 32px;
  margin-bottom: 38px;

  @media (max-width: $size-screen-tablet) {
    font-size: 27px;
    margin-bottom: 10px;
  }

  @media (max-width: $size-screen-mobile) {
    font-size: 22px;
  }
}

.main-list__link {
  display: inline-block;
  margin-bottom: 70px;

  @media (max-width: $size-screen-tablet) {
    margin-bottom: 50px;
  }
}
