.page-footer {
  background-color: $main-color-text;
}

.page-footer__wrapper {
  padding: 337px 0;

  @media (max-width: 1024px) {
    padding: 100px 0;
  }

  @media (max-width: 767px) {
    padding: 50px 0;
  }
}
