.proposition {
  background-color: $main-color-text;
  padding: 48px 0 56px 0;

  @media (max-width: 767px) {
    padding: 25px 0 25px 0;
  }
}

.proposition__block {
  display: grid;
  grid-column-gap: 70px;


    &:not(:last-of-type) {
      margin-bottom: 125px;

      @media (max-width: 767px) {
        margin-bottom: 60px;
      }
    }

  @media (max-width: 767px) {
    display: block;
    text-align: center;
  }
}

.proposition__block--left {
  grid-template-columns: 50% 1fr;
  grid-template-areas: "img title"
                       "img text";
}

.proposition__block--right {
  grid-template-columns: 1fr 50%;
  grid-template-areas: "title img"
                       "text img";
}

.proposition__img {
  grid-area: img;
  align-self: center;

   img {
    width: 100%;
    height: auto;
    box-shadow: 0 60px 57px rgb(12 13 12 / 45%);
    border-radius: 50%;
  }

  @media (max-width: 767px) {
    max-width: 370px;
    margin: 0 auto;
  }
}

.proposition__description {
  padding: 52px 0 65px 0;
  grid-area: text;
}

.proposition__title {
  font-weight: 600;
  font-size: 59px;
  color: $color-text-5;
  line-height: 1;
  margin-top: 114px;
  grid-area: title;

  @media (max-width: 767px) {
    font-size: 30px;
    margin-top: 50px;
    margin-bottom: 50px;
  }
}

.proposition__text {
  color: $color-text-5;
  line-height: 1;
  margin-bottom: 53px;
}

.proposition__decoration {
  position: absolute;
  right: -30px;
  bottom: -734px;
  z-index: 10;

  @media (max-width: 767px) {
    display: none;
  }
}
