.site-list__link {
  display: block;
  color: $main-color-text;
  font-family: $main-font;
  font-size: 17px;
  line-height: 1.176;
  text-transform: uppercase;
  padding: 15px 30px;

  @media (max-width: $size-screen-tablet) {
    font-size: 15px;
    padding: 15px;
    text-align: center;
  }

  @media (max-width: $size-screen-mobile) {
    padding: 15px;
    font-size: 13px;
  }

  &:hover,
  &:active {
    border-radius: 30px;
    color: $color-text-2;

    @media (max-width: $size-screen-tablet) {
      border-radius: 0;
    }
  }

  &:hover {
    background-color: $main-color-text-hover;
  }

  &:active {
    background-color: $main-color-text;
  }
}

.site-list__item {

  @media (max-width: $size-screen-tablet) {
    flex-grow: 1;
  }

  @media (max-width: $size-screen-mobile) {
    width: 100%;
    text-align: center;
  }
}
