$tablet: 768px;
$desktop: 1150px;
$desktopFrom: 1149px;

@mixin media($media) {
  @if $media == tablet {
    @media (max-width: $tablet) { @content; }
  }
  @if $media == mobile {
    @media (max-width: $desktop) { @content; }
  }
}
