@import "normalize.scss";
@import "variables.scss";
@import "mixins.scss";
@import "fonts.scss";
@import "visually-hidden.scss";
@import "blocks/promo.scss";
@import "blocks/main-nav.scss";
@import "blocks/page-header.scss";
@import "blocks/site-list.scss";
@import "blocks/catalog-pasta.scss";
@import "blocks/link.scss";
@import "blocks/section-title.scss";
@import "blocks/empty.scss";
@import "blocks/proposition.scss";
@import "blocks/catalog-pizza.scss";
@import "blocks/catalog-list.scss";
@import "blocks/subscribe.scss";
@import "blocks/form.scss";
@import "blocks/page-footer.scss";
@import "blocks/main-list.scss";
@import "blocks/social.scss";
@import "blocks/list__link.scss";


html {
  box-sizing: border-box;
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100%;
  font-family: $main-font;
  font-size: 29px;
  line-height: 35px;
  font-weight: 400;
  background-color: $main-color-text-hover;

  @media (max-width: 767px) {
    font-size: 20px;
    line-height: 23px;
  }
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

ul {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
p,
blockquote {
  margin: 0;
}

button {
  padding: 0;
  border: none;
  background-color: transparent;
}

address {
  font-style: normal;
}

fieldset {
  padding: 0;
  margin: 0;
  border: 0;
}

.wrapper {
  max-width: 1330px;
  padding-right: 15px;
  padding-left: 15px;
  margin: 0 auto;
  position: relative;
}
